<form id="rootwizard">
	<div class="panel panel-fixed">
		<div class="panel-heading built " style="padding:0;">


			<ul class="nav-justified" id="wizard-tabs">
				<li>
					<a href="#tab-number" data-toggle="tab" >
						<span class="step-number">1</span>
						<span class="step-name">Start</span>
						<div class="badge-block">
							<span class="badge"></span>
						</div>

					</a>
				</li>
				<li>
					<a href="#tab-services" data-toggle="tab">
						<span class="step-number">2</span>
						<span class="step-name">What</span>
						<div class="badge-block">
							<span class="badge"></span>
						</div>
					</a>
				</li>
				<li>
					<a href="#tab-details" data-toggle="tab">
						<span class="step-number">3</span>
						<span class="step-name">Who</span>
						<div class="badge-block">
							<span class="badge"></span>
						</div>
					</a>
				</li>
				<li>
					<a href="#tab-appointment-time" data-toggle="tab">
						<span class="step-number">4</span>
						<span class="step-name">When</span>
						<div class="badge-block">
							<span class="badge"></span>
						</div>
					</a>
				</li>
				<li>
					<a href="#tab-confirm" data-toggle="tab" id="finished-tab">
						<span class="step-number">5</span>
						<span class="step-name">Finished</span>
						<div class="badge-block">
							<span class="badge"></span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="panel-body">

			<div class="tab-content  form-horizontal" id="form-tabs">
				<div class="tab-pane" id="tab-number" data-form="form-number">


				</div>
				<div class="tab-pane" id="tab-services" data-form="form-services">

				</div>
				<div class="tab-pane" id="tab-details" data-form="form-client-details">

				</div>

				<div class="tab-pane" id="tab-appointment-time" data-form="form-appointment-time">

				</div>
				<div class="tab-pane" id="tab-confirm" data-form="form-confirm">

				</div>


			</div>


		</div>

		<div class="panel-footer" id="form-footer">
			<div id="form-footer-confirm">
				<button class="btn btn-primary btn-block" type="submit">Place Booking</button>
			</div>
			<div id="form-footer-other">
				<div class="row">
					<div class="col-xs-3">
						<a href="#" class="btn btn-primary btn-block  button-previous">
							<i class="fa fa-arrow-circle-left"></i><span class="hidden-xs" style="padding-left:10px;">Previous</span>
						</a>
					</div>
					<div class="col-xs-6">

						<div id="services-selected"></div>
					</div>
					<div class="col-xs-3">
						<button type="submit" class="btn btn-primary btn-block ">
							<span class="hidden-xs" style="padding-right:10px;">Next</span><i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<form action="" id="confirm-form-area-form" data-company="{{ company['ID'] }}">

</form>