<a href="/admin" class="btn btn-primary btn-large">Admin</a>
<div class="animate-panel" id="content-area">

</div>




<!--


<div class="fluid-container">

	<div class="col-sm-12">
		<div class="panel">
			<div class="panel-heading">Select the Services</div>
		</div>

		{% for row in _services %}
			<div class="panel">
				<div class="panel-heading">{{ row['label'] }}</div>
				<div class="panel-body">
					{% for service in row['records'] %}
						<div class="row">
							<div class="col-sm-3">{{ service['label'] }}</div>
							<div class="col-sm-3">{{ service['duration_view'] }}</div>
							<div class="col-sm-3">{{ service['price_view'] }}</div>
							<div class="col-sm-3"><button class="btn btn-default">Add</button></div>
						</div>
					{% endfor %}

				</div>
			</div>
		{% endfor %}
		<div class="panel">
			<div class="panel-footer">
				<div class="text-right">
					<button class="btn btn-primary">Next</button>
				</div>
			</div>
		</div>
	</div>


	<div class="col-sm-12">
		<div class="panel">
			<div class="panel-heading">Please enter your phone number</div>
			<div class="panel-body">
				<div class="form-group has-feedback">
					<input type="text" name="client-search" class="form-control" id="client-search" placeholder="Mobile number" value=""><span class="fa fa-search form-control-feedback" style="margin-top:10px; right:0;" aria-hidden="true"></span>
				</div>

			</div>
			<div class="panel-footer">
				<div class="text-right">
					<button class="btn btn-primary">Next</button>
				</div>
			</div>
		</div>
	</div>


</div>
-->