<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header" style="padding:10px;">


			<h4 class="modal-title">Booking successful</h4>
		</div>
		<div class="modal-body text-success text-center" style="padding:0;" >

			<i class="fa fa-check" style="font-size:150px;"></i>



		</div>
		<div class="modal-footer">
			<a href="../" class="btn btn-primary btn-block" type="button">Close </a>
		</div>

	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
