


	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-body text-center" style="padding:20px 0 0 0 ;" >

				<img src="/ui/_images/logo_400x111.jpg" alt="" style="margin:50px 0;">



			</div>
			<div class="modal-footer">
				<a href="/admin" class="btn btn-primary btn-block" type="button">Login to Admin </a>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
