


	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" style="padding:10px; ">



			</div>
			<div class="modal-body text-center" style="padding:0;" >

				<img src="/ui/_images/logo.jpg" alt="" style="width:400px; margin:50px 0;">



			</div>
			<div class="modal-footer">
				<a href="/admin" class="btn btn-primary btn-block" type="button">Login to Admin </a>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
