<div class="tab-pane active" id="tab-services" data-form="form-services">
	<div class="panel grey panel-service">
		<div class="panel-heading">Mens Haircuts</div>
		<div class="panel-body" style="top: 59px; bottom: 55px;">
			<div class="row">
				<div class="col-sm-3">Hair cut</div>
				<div class="col-sm-3">40m</div>
				<div class="col-sm-3">R&nbsp;0,00</div>
				<div class="col-sm-3">
					<button class="btn btn-default">Add</button>
				</div>
			</div>
		</div>
	</div>
	<div class="panel grey panel-service">
		<div class="panel-heading">Waxing</div>
		<div class="panel-body" style="top: 59px; bottom: 55px;">
			<div class="row">
				<div class="col-sm-3">Brazillian</div>
				<div class="col-sm-3">2h 30m</div>
				<div class="col-sm-3">R&nbsp;300,00</div>
				<div class="col-sm-3">
					<button class="btn btn-default">Add</button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">long name service</div>
				<div class="col-sm-3">3h 35m</div>
				<div class="col-sm-3">R&nbsp;0,00</div>
				<div class="col-sm-3">
					<button class="btn btn-default">Add</button>
				</div>
			</div>
		</div>
	</div>
	<div class="panel grey panel-service">
		<div class="panel-heading"></div>
		<div class="panel-body" style="top: 59px; bottom: 55px;">
			<div class="row">
				<div class="col-sm-3">another service</div>
				<div class="col-sm-3">50m</div>
				<div class="col-sm-3">R&nbsp;500,00</div>
				<div class="col-sm-3">
					<button class="btn btn-default">Add</button>
				</div>
			</div>
		</div>
	</div>
	<div class="panel grey panel-service">
		<div class="panel-heading">New cat</div>
		<div class="panel-body" style="top: 59px; bottom: 55px;">
			<div class="row">
				<div class="col-sm-3">new service</div>
				<div class="col-sm-3">15m</div>
				<div class="col-sm-3">R&nbsp;200,00</div>
				<div class="col-sm-3">
					<button class="btn btn-default">Add</button>
				</div>
			</div>
		</div>
	</div>
</div>