<p>Appointment for {{ data['appointment']['client']['first_name']|default("Walk-In") }} on {{ data['appointment']['time']['day_view'] }} @ {{ data['appointment']['time']['start_view_short'] }} was deleted</p>
<p>Kind Regards</p>