body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f3f6; }

#content-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.panel-fixed {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0; }
  .panel-fixed > .panel-heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    .panel-fixed > .panel-heading > .row {
      margin-left: 0;
      margin-right: 0; }
    .panel-fixed > .panel-heading h1 {
      margin: 0;
      padding: 4px;
      text-align: center;
      font-variant: small-caps;
      font-weight: bold;
      font-size: 28px; }
  .panel-fixed > .panel-body {
    position: absolute;
    left: 0;
    right: 0;
    overflow-y: auto; }
  .panel-fixed > .panel-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; }

.pagination {
  padding: 0;
  margin: 0; }
  .pagination li label {
    padding: 5px;
    border: 1px solid #f1f1f1;
    width: 80px;
    text-align: center;
    cursor: pointer; }
    .pagination li label input {
      display: none; }
    .pagination li label .dayName {
      color: #666666; }
    .pagination li label .day {
      font-size: 18px; }
    .pagination li label .month {
      color: #666666; }
    .pagination li label:hover {
      color: #ffffff;
      background-color: #587ca0; }
      .pagination li label:hover .dayName, .pagination li label:hover .day, .pagination li label:hover .month {
        color: #ffffff; }
  .pagination li.active {
    font-size: 20px; }
    .pagination li.active label {
      background-color: #34495e;
      color: #ffffff; }
      .pagination li.active label .dayName, .pagination li.active label .month {
        color: #f1f1f1; }
  .pagination li.disabled {
    color: #cccccc !important; }
    .pagination li.disabled label {
      cursor: default;
      border-color: white;
      background-color: #f2f2f2; }
      .pagination li.disabled label .dayName, .pagination li.disabled label .day, .pagination li.disabled label .month {
        color: #cccccc;
        text-decoration: line-through; }
      .pagination li.disabled label:hover {
        color: inherit;
        background-color: #f1f1f1; }
        .pagination li.disabled label:hover .dayName, .pagination li.disabled label:hover .day, .pagination li.disabled label:hover .month {
          color: inherit; }

.panel-service {
  margin: 0; }
  .panel-service:not(:first-child) {
    margin-top: 30px; }
  .panel-service .panel-heading {
    font-variant: small-caps; }
  .panel-service .panel-body {
    padding: 0; }
    .panel-service .panel-body label {
      padding: 10px;
      display: block;
      cursor: pointer; }
      .panel-service .panel-body label:not(:last-child) {
        border-bottom: 1px dotted #cccccc; }
      .panel-service .panel-body label.active {
        background-color: #34495e;
        color: #ffffff; }
      .panel-service .panel-body label:hover {
        color: #ffffff;
        background-color: #587ca0; }
      .panel-service .panel-body label input {
        display: none; }
      .panel-service .panel-body label .ps-heading {
        font-weight: bold; }
      .panel-service .panel-body label .ps-duration {
        font-weight: normal; }
      .panel-service .panel-body label .ps-price {
        font-weight: bold;
        text-align: right; }

#rootwizard > .panel > .panel-body {
  background-color: #f1f3f6; }

#rootwizard .nav-justified {
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate; }
  #rootwizard .nav-justified > li {
    float: none;
    display: table-cell;
    width: 17%; }
  #rootwizard .nav-justified > li > a {
    width: 100%;
    margin-right: -1px; }

#rootwizard .nav-justified > li {
  position: relative; }
  #rootwizard .nav-justified > li .has-error {
    background-color: rgba(231, 76, 60, 0.2);
    font-weight: bold; }
  #rootwizard .nav-justified > li .badge-block {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 0;
    left: 0;
    text-align: right; }
    #rootwizard .nav-justified > li .badge-block .badge {
      vertical-align: middle; }
      #rootwizard .nav-justified > li .badge-block .badge.label-danger {
        background: #e74c3c;
        color: #ffffff; }
      #rootwizard .nav-justified > li .badge-block .badge.label-success {
        background: #62cb31;
        color: #ffffff; }
  #rootwizard .nav-justified > li:not(:first-child):not(:last-child) a {
    border-radius: 0; }
  #rootwizard .nav-justified > li:first-child a {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
  #rootwizard .nav-justified > li:last-child a {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-right: 0; }
  #rootwizard .nav-justified > li a {
    margin-left: -1px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    background-color: #fff;
    border-color: #ccc; }
    #rootwizard .nav-justified > li a:focus, #rootwizard .nav-justified > li a.focus {
      color: #333;
      background-color: #e6e6e6;
      border-color: #8c8c8c; }
    #rootwizard .nav-justified > li a:hover {
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad; }
    #rootwizard .nav-justified > li a:active, #rootwizard .nav-justified > li a.active,
    .open > #rootwizard .nav-justified > li a.dropdown-toggle {
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad; }
      #rootwizard .nav-justified > li a:active:hover, #rootwizard .nav-justified > li a:active:focus, #rootwizard .nav-justified > li a:active.focus, #rootwizard .nav-justified > li a.active:hover, #rootwizard .nav-justified > li a.active:focus, #rootwizard .nav-justified > li a.active.focus,
      .open > #rootwizard .nav-justified > li a.dropdown-toggle:hover,
      .open > #rootwizard .nav-justified > li a.dropdown-toggle:focus,
      .open > #rootwizard .nav-justified > li a.dropdown-toggle.focus {
        color: #333;
        background-color: #d4d4d4;
        border-color: #8c8c8c; }
    #rootwizard .nav-justified > li a:active, #rootwizard .nav-justified > li a.active,
    .open > #rootwizard .nav-justified > li a.dropdown-toggle {
      background-image: none; }
    #rootwizard .nav-justified > li a.disabled:hover, #rootwizard .nav-justified > li a.disabled:focus, #rootwizard .nav-justified > li a.disabled.focus, #rootwizard .nav-justified > li a[disabled]:hover, #rootwizard .nav-justified > li a[disabled]:focus, #rootwizard .nav-justified > li a[disabled].focus,
    fieldset[disabled] #rootwizard .nav-justified > li a:hover,
    fieldset[disabled] #rootwizard .nav-justified > li a:focus,
    fieldset[disabled] #rootwizard .nav-justified > li a.focus {
      background-color: #fff;
      border-color: #ccc; }
    #rootwizard .nav-justified > li a .badge {
      color: #fff;
      background-color: #333; }
  #rootwizard .nav-justified > li.active a {
    color: #ffffff;
    background-color: #34495e;
    border-color: #2e6da4; }
    #rootwizard .nav-justified > li.active a:focus, #rootwizard .nav-justified > li.active a.focus {
      color: #ffffff;
      background-color: #22303d;
      border-color: #122b40; }
    #rootwizard .nav-justified > li.active a:hover {
      color: #ffffff;
      background-color: #22303d;
      border-color: #204d74; }
    #rootwizard .nav-justified > li.active a:active, #rootwizard .nav-justified > li.active a.active,
    .open > #rootwizard .nav-justified > li.active a.dropdown-toggle {
      color: #ffffff;
      background-color: #22303d;
      border-color: #204d74; }
      #rootwizard .nav-justified > li.active a:active:hover, #rootwizard .nav-justified > li.active a:active:focus, #rootwizard .nav-justified > li.active a:active.focus, #rootwizard .nav-justified > li.active a.active:hover, #rootwizard .nav-justified > li.active a.active:focus, #rootwizard .nav-justified > li.active a.active.focus,
      .open > #rootwizard .nav-justified > li.active a.dropdown-toggle:hover,
      .open > #rootwizard .nav-justified > li.active a.dropdown-toggle:focus,
      .open > #rootwizard .nav-justified > li.active a.dropdown-toggle.focus {
        color: #ffffff;
        background-color: #151e26;
        border-color: #122b40; }
    #rootwizard .nav-justified > li.active a:active, #rootwizard .nav-justified > li.active a.active,
    .open > #rootwizard .nav-justified > li.active a.dropdown-toggle {
      background-image: none; }
    #rootwizard .nav-justified > li.active a.disabled:hover, #rootwizard .nav-justified > li.active a.disabled:focus, #rootwizard .nav-justified > li.active a.disabled.focus, #rootwizard .nav-justified > li.active a[disabled]:hover, #rootwizard .nav-justified > li.active a[disabled]:focus, #rootwizard .nav-justified > li.active a[disabled].focus,
    fieldset[disabled] #rootwizard .nav-justified > li.active a:hover,
    fieldset[disabled] #rootwizard .nav-justified > li.active a:focus,
    fieldset[disabled] #rootwizard .nav-justified > li.active a.focus {
      background-color: #34495e;
      border-color: #2e6da4; }
    #rootwizard .nav-justified > li.active a .badge {
      color: #34495e;
      background-color: #ffffff; }
  #rootwizard .nav-justified > li.active:active a {
    color: #ffffff;
    background-color: #34495e;
    border-color: #2e6da4; }
    #rootwizard .nav-justified > li.active:active a:focus, #rootwizard .nav-justified > li.active:active a.focus {
      color: #ffffff;
      background-color: #22303d;
      border-color: #122b40; }
    #rootwizard .nav-justified > li.active:active a:hover {
      color: #ffffff;
      background-color: #22303d;
      border-color: #204d74; }
    #rootwizard .nav-justified > li.active:active a:active, #rootwizard .nav-justified > li.active:active a.active,
    .open > #rootwizard .nav-justified > li.active:active a.dropdown-toggle {
      color: #ffffff;
      background-color: #22303d;
      border-color: #204d74; }
      #rootwizard .nav-justified > li.active:active a:active:hover, #rootwizard .nav-justified > li.active:active a:active:focus, #rootwizard .nav-justified > li.active:active a:active.focus, #rootwizard .nav-justified > li.active:active a.active:hover, #rootwizard .nav-justified > li.active:active a.active:focus, #rootwizard .nav-justified > li.active:active a.active.focus,
      .open > #rootwizard .nav-justified > li.active:active a.dropdown-toggle:hover,
      .open > #rootwizard .nav-justified > li.active:active a.dropdown-toggle:focus,
      .open > #rootwizard .nav-justified > li.active:active a.dropdown-toggle.focus {
        color: #ffffff;
        background-color: #151e26;
        border-color: #122b40; }
    #rootwizard .nav-justified > li.active:active a:active, #rootwizard .nav-justified > li.active:active a.active,
    .open > #rootwizard .nav-justified > li.active:active a.dropdown-toggle {
      background-image: none; }
    #rootwizard .nav-justified > li.active:active a.disabled:hover, #rootwizard .nav-justified > li.active:active a.disabled:focus, #rootwizard .nav-justified > li.active:active a.disabled.focus, #rootwizard .nav-justified > li.active:active a[disabled]:hover, #rootwizard .nav-justified > li.active:active a[disabled]:focus, #rootwizard .nav-justified > li.active:active a[disabled].focus,
    fieldset[disabled] #rootwizard .nav-justified > li.active:active a:hover,
    fieldset[disabled] #rootwizard .nav-justified > li.active:active a:focus,
    fieldset[disabled] #rootwizard .nav-justified > li.active:active a.focus {
      background-color: #34495e;
      border-color: #2e6da4; }
    #rootwizard .nav-justified > li.active:active a .badge {
      color: #34495e;
      background-color: #ffffff; }

h1 {
  margin-top: 0;
  margin-bottom: 30px; }

#services-selected {
  text-align: center;
  font-size: 20px; }
  #services-selected .ser-group {
    white-space: nowrap; }
  #services-selected .ser-foot-value {
    padding: 0 5px;
    font-weight: bold; }

@media (max-width: 767px) {
  #services-selected {
    margin-top: -10px; } }

.text-area-panel {
  padding: 0; }
  .text-area-panel .note-toolbar {
    padding: 0; }
  .text-area-panel .panel .panel-body {
    border-top: 1px solid #e4e5e7; }
  .text-area-panel .note-editor.note-frame {
    border: none; }

#appointmentDate_time {
  position: relative; }
  #appointmentDate_time .panel.error {
    border: 1px solid #ff0000; }
  #appointmentDate_time .timeslots .timeslot {
    background: #fff; }
  #appointmentDate_time .timeslots .timeslot.selectable label {
    cursor: pointer;
    font-weight: bold; }
  #appointmentDate_time .timeslots .timeslot.selectable label:hover {
    background-color: #587ca0;
    color: #ffffff; }
  #appointmentDate_time .timeslots .timeslot {
    float: left;
    border: 1px solid #e4e5e7;
    text-align: center;
    margin-right: -1px; }
    #appointmentDate_time .timeslots .timeslot label {
      width: 60px;
      padding: 10px;
      margin: 0; }
      #appointmentDate_time .timeslots .timeslot label input {
        display: none; }
  #appointmentDate_time .timeslots .timeslot.closed {
    background-color: #cccccc;
    color: #afafaf; }
  #appointmentDate_time .timeslots .timeslot.soft_closed {
    background-color: #eaeaea;
    color: #afafaf; }
  #appointmentDate_time .timeslots .timeslot.no_available {
    background-color: #cc8c7d;
    color: #afafaf; }
  #appointmentDate_time .timeslots .timeslot.other_selected {
    background-color: #b9c9d8;
    color: #e8e8e8; }
  #appointmentDate_time .timeslots .timeslot.selected {
    background-color: #34495e;
    color: #ffffff; }
    #appointmentDate_time .timeslots .timeslot.selected :hover {
      background-color: #587ca0;
      color: #ffffff; }
  #appointmentDate_time .timeslots .timeslot.error {
    background-color: #ff0000;
    color: #ffffff; }
  #appointmentDate_time .timeslots .timeslot.soft_error {
    background-color: rgba(255, 0, 0, 0.5);
    color: #ffffff; }
  #appointmentDate_time .div-table {
    width: 100%;
    display: table; }
  #appointmentDate_time .div-table .div-row {
    display: table-row; }
  #appointmentDate_time .div-table .div-cell {
    display: table-cell; }
  #appointmentDate_time .staff .item {
    border: 1px solid #cccccc;
    text-align: center;
    margin-right: -1px;
    opacity: 0.2; }
    #appointmentDate_time .staff .item label {
      cursor: pointer;
      margin: 0;
      display: block;
      padding: 10px;
      color: #333;
      background-color: #fff;
      border-color: #ccc; }
      #appointmentDate_time .staff .item label:focus, #appointmentDate_time .staff .item label.focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c; }
      #appointmentDate_time .staff .item label:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad; }
      #appointmentDate_time .staff .item label:active, #appointmentDate_time .staff .item label.active,
      .open > #appointmentDate_time .staff .item label.dropdown-toggle {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad; }
        #appointmentDate_time .staff .item label:active:hover, #appointmentDate_time .staff .item label:active:focus, #appointmentDate_time .staff .item label:active.focus, #appointmentDate_time .staff .item label.active:hover, #appointmentDate_time .staff .item label.active:focus, #appointmentDate_time .staff .item label.active.focus,
        .open > #appointmentDate_time .staff .item label.dropdown-toggle:hover,
        .open > #appointmentDate_time .staff .item label.dropdown-toggle:focus,
        .open > #appointmentDate_time .staff .item label.dropdown-toggle.focus {
          color: #333;
          background-color: #d4d4d4;
          border-color: #8c8c8c; }
      #appointmentDate_time .staff .item label:active, #appointmentDate_time .staff .item label.active,
      .open > #appointmentDate_time .staff .item label.dropdown-toggle {
        background-image: none; }
      #appointmentDate_time .staff .item label.disabled:hover, #appointmentDate_time .staff .item label.disabled:focus, #appointmentDate_time .staff .item label.disabled.focus, #appointmentDate_time .staff .item label[disabled]:hover, #appointmentDate_time .staff .item label[disabled]:focus, #appointmentDate_time .staff .item label[disabled].focus,
      fieldset[disabled] #appointmentDate_time .staff .item label:hover,
      fieldset[disabled] #appointmentDate_time .staff .item label:focus,
      fieldset[disabled] #appointmentDate_time .staff .item label.focus {
        background-color: #fff;
        border-color: #ccc; }
      #appointmentDate_time .staff .item label .badge {
        color: #fff;
        background-color: #333; }
      #appointmentDate_time .staff .item label input {
        display: none; }
    #appointmentDate_time .staff .item.active {
      opacity: 1; }
      #appointmentDate_time .staff .item.active label {
        color: #ffffff;
        background-color: #34495e;
        border-color: #2e6da4; }
        #appointmentDate_time .staff .item.active label:focus, #appointmentDate_time .staff .item.active label.focus {
          color: #ffffff;
          background-color: #22303d;
          border-color: #122b40; }
        #appointmentDate_time .staff .item.active label:hover {
          color: #ffffff;
          background-color: #22303d;
          border-color: #204d74; }
        #appointmentDate_time .staff .item.active label:active, #appointmentDate_time .staff .item.active label.active,
        .open > #appointmentDate_time .staff .item.active label.dropdown-toggle {
          color: #ffffff;
          background-color: #22303d;
          border-color: #204d74; }
          #appointmentDate_time .staff .item.active label:active:hover, #appointmentDate_time .staff .item.active label:active:focus, #appointmentDate_time .staff .item.active label:active.focus, #appointmentDate_time .staff .item.active label.active:hover, #appointmentDate_time .staff .item.active label.active:focus, #appointmentDate_time .staff .item.active label.active.focus,
          .open > #appointmentDate_time .staff .item.active label.dropdown-toggle:hover,
          .open > #appointmentDate_time .staff .item.active label.dropdown-toggle:focus,
          .open > #appointmentDate_time .staff .item.active label.dropdown-toggle.focus {
            color: #ffffff;
            background-color: #151e26;
            border-color: #122b40; }
        #appointmentDate_time .staff .item.active label:active, #appointmentDate_time .staff .item.active label.active,
        .open > #appointmentDate_time .staff .item.active label.dropdown-toggle {
          background-image: none; }
        #appointmentDate_time .staff .item.active label.disabled:hover, #appointmentDate_time .staff .item.active label.disabled:focus, #appointmentDate_time .staff .item.active label.disabled.focus, #appointmentDate_time .staff .item.active label[disabled]:hover, #appointmentDate_time .staff .item.active label[disabled]:focus, #appointmentDate_time .staff .item.active label[disabled].focus,
        fieldset[disabled] #appointmentDate_time .staff .item.active label:hover,
        fieldset[disabled] #appointmentDate_time .staff .item.active label:focus,
        fieldset[disabled] #appointmentDate_time .staff .item.active label.focus {
          background-color: #34495e;
          border-color: #2e6da4; }
        #appointmentDate_time .staff .item.active label .badge {
          color: #34495e;
          background-color: #ffffff; }
  #appointmentDate_time .panel.showing .staff .item.active {
    opacity: 0.2; }
    #appointmentDate_time .panel.showing .staff .item.active.showing {
      opacity: 1; }
  #appointmentDate_time .panel .staff .item.showing {
    cursor: pointer;
    opacity: 1; }

#appointmentDate_time .panel:not(.error).green .panel-body, #appointmentDate_time .panel:not(.error).green .panel-heading, #appointmentDate_time .panel:not(.error).green .panel-footer {
  background: rgba(0, 250, 0, 0.08); }

#appointmentDate_time .panel:not(.error).orange .panel-body, #appointmentDate_time .panel:not(.error).orange .panel-heading, #appointmentDate_time .panel:not(.error).orange .panel-footer {
  background: rgba(230, 126, 34, 0.08); }

#appointmentDate_time .panel .error .panel-body, #appointmentDate_time .panel .error .panel-heading, #appointmentDate_time .panel .error .panel-footer {
  background: rgba(230, 0, 0, 0.08); }

.panel-service .panel-heading {
  text-shadow: 1px 1px 5px #fff;
  font-size: 24px; }
