.agenda-view {

  position:relative;
  font-size:9px;
  height:20px;
 overflow:hidden;

  .agenda-view-area {
	position: absolute;
	top:3px;
	left:0;
	right:0;
	bottom:3px;
  }

  .agenda-view-hours {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

	z-index:3;
	.agenda-hour {

	  border:1px solid $border-color;
	  border-right-color:transparent;
	  float:left;
	  text-align: center;
	  vertical-align: middle;
	  color:darken($border-color,40%);
	  text-shadow:1px 1px  #fff;

	  box-sizing: border-box;
	  &:last-child {
		border-right-color:$border-color;
	  }
	}
  }
  .agenda-closed {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

	.agenda-closed-line {
	  width:3px;
	  background-color: #ababab;
	  position: absolute;
	  top:-3px;
	  bottom:-3px;
	  z-index: 6;

	  opacity:0.5;
	  border-radius:2px;
	}
	.agenda-closed-item {
	  position: absolute;
	  top: -2px;
	  bottom: -2px;
	  background:
			  /* On "top" */
			  repeating-linear-gradient(
							  45deg,
							  transparent,
							  transparent 5px,
							  #f1f1f1 5px,
							  #f1f1f1 10px
			  ),
				/* on "bottom" */
			  linear-gradient(
							  to bottom,
							  #e1e1e1,
							  #e1e1e1
			  );

	}
  }
  .agenda-items {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

	.agenda-item {
	  position:absolute;
	  top:0;
	  bottom:0;

	  background-color:  lighten($color-navy-blue,50%);
	  background: linear-gradient(to bottom, lighten($color-navy-blue,55%),lighten($color-navy-blue,40%));
	  .item-label {
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index: 4;
	  }

	  &.current {

		background-color: lighten($color-navy-blue,4%);
		background: linear-gradient(to bottom, lighten($color-navy-blue,20%),lighten($color-navy-blue,5%));

		.item-label {
		  z-index: 6;
		}
	  }

	}
  }
  .timeslot-items {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

	.timeslot-item {
	  position:absolute;
	  top:0;
	  bottom:0;

	  background:
			  /* On "top" */
			  repeating-linear-gradient(
							  45deg,
							  transparent,
							  transparent 5px,
							  #f1f1f1 5px,
							  #f1f1f1 10px
			  ),
				/* on "bottom" */
			  linear-gradient(
							  to bottom,
							  #e1e1e1,
							  #e1e1e1
			  );
	  .item-label {
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index: 4;
	  }

	  &.current {



		.item-label {
		  z-index: 6;
		}
	  }

	}
  }

  .agenda-now {
	width:4px;
	background-color: red;
	position: absolute;
	top:-3px;
	bottom:-3px;
	z-index: 6;
	margin-left:-2px;
	opacity:0.5;
  }


  .appointment-row {
	cursor:pointer;
	&:hover {
	  border:1px solid $color-navy-blue;
	}

  }

}