#details-appointment {

  @media (min-width: $screen-sm) {
	#services-column {
	  padding-left:0;
	}
  }


  .agenda-view {
	margin-left:-9px;
	margin-right:-9px;
	margin-top:-20px;
	background-color: #fff;
  }
  .record-direction-btns {
	.appointment-row[disabled] {
	 opacity:0.3;
	}
  }

}