#modal-window {
  .forms {
	display:none;


	.row.input-groups {
	  .group-item {
		.select2.container {

		}
		&:not(:first-child):not(:last-child) {
		  padding-right:0;
		  padding-left:0;
		  border-right-color:transparent;
		  .form-control,.select2-selection--single {
			border-radius:0;
		  }
		}
		&:first-child {
		  padding-right:0;
		  border-right-color:transparent;
		  .form-control,.select2-selection--single {
			border-top-right-radius:0;
			border-bottom-right-radius:0;
		  }
		}
		&:last-child {
		  padding-left:0;
		  .form-control,.select2-selection--single {
			border-top-left-radius:0;
			border-bottom-left-radius:0;
		  }
		}
	  }
	}

  }

  #client-select-area {
	margin:0;

	&:empty {
	  margin:0;
	}
	tbody {
	  tr {
		cursor:pointer;
		td {
		  padding:3px;
		}
		&:hover {
		  td {
			background-color: #e1e1e1;
		  }
		}

		&:last-child {
		  td {
			border-bottom:1px solid #ccc;
		  }
		}
	  }
	}
	tfoot {
	  td {
		text-align: center;
		&:hover {
		  background-color: #f1f1f1;
		}
	  }
	}




  }
}
