<div class="normalheader transition animated fadeIn small-header" id="header-area">

</div>

<div id="toolbar" class="" style="top: 47px;">
	<div class="container small-header">
		<div class="panel">
			<div class="panel-body">


				<div class="col-sm-2">
					<div class="btn-group btn-group-justified" role="group">
						<a class="form-appointment-btn btn btn-primary" href="#" data-id="" title="Add an appointment">
							<i class="fa fa-plus "></i>

						</a>
						<a class="form-appointment-btn btn btn-primary disabled" href="#" data-id="" title="Reserve Time Slot">
							<i class="fa fa-clock-o "></i>

						</a>

					</div>
				</div>
				<div class="col-sm-6">

					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default {% if _user['settings']['section']|default('list')=='list' %}active{% endif %}">
							<input type="radio" name="view" id="view-list" autocomplete="off" value="list" {% if _user['settings']['section']|default("list")=="list" %}checked="checked"{% endif %}>
							<i class="fa fa-list"></i> List
						</label>
						<label class="btn btn-default disabled {% if _user['settings']['section'] =='day' %}active{% endif %}">
							<input type="radio" name="view" id="view-day" value="day" autocomplete="off" {% if _user['settings']['section']=="day" %}checked="checked"{% endif %}>
							<i class="fa fa-calendar-o"></i> Day View
						</label>
						<label class="btn btn-default disabled {% if _user['settings']['section']=='calendar' %}active{% endif %}">
							<input type="radio" name="view" id="view-calendar" value="calendar" autocomplete="off"  {% if _user['settings']['section']=="calendar" %}checked="checked"{% endif %}>
							<i class="fa fa-calendar"></i> Calendar
						</label>
					</div>


				</div>


				<div class="col-sm-4">
					<form id="search-form" role="search">
						<div class="input-group  " style="width:100%">
							<input type="text" class="form-control" placeholder="Search" name="search" id="search">
							<div class="input-group-btn">
								<button class="btn btn-default" type="reset"><i class="fa fa-close"></i></button>
								<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</form>


				</div>


			</div>
		</div>

	</div>


</div>
<div class="content animate-panel" id="content-area">
	<div style="height:700px;"></div>
</div>