<div class="normalheader transition animated fadeIn small-header" id="header-area">

</div>

<div id="toolbar" class="" style="top: 47px;">
	<div class="container small-header">
		<div class="panel">
			<div class="panel-body">


				<div class="col-sm-2">
					<div class="btn-group btn-group-justified" role="group">
						<a class="form-appointment-btn btn btn-primary" href="#" data-id="" title="Add an appointment">
							<i class="fa fa-plus "></i>

						</a>
						<a class="form-timeslot-btn btn btn-primary" href="#" data-id="" title="Add a reserved timeslot">
							<i class="fa fa-clock-o "></i>

						</a>


					</div>
				</div>
				<div class="col-sm-6">
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default {% if _user['settings']['home_list_section']|default('list')=='list' %}active{% endif %}" title="List">
							<input type="radio" name="view" id="view-list" autocomplete="off" value="list" {% if _user['settings']['home_list_section']|default("list")=="list" %}checked="checked"{% endif %}>
							<i class="fa fa-list"></i> <span class="hidden-sm">List</span>
						</label>
						<label class="btn btn-default {% if _user['settings']['home_list_section'] =='day' %}active{% endif %}" title="Day View">
							<input type="radio" name="view" id="view-day" value="day" autocomplete="off" {% if _user['settings']['home_list_section']=="day" %}checked="checked"{% endif %}>
							<i class="fa fa-calendar-o"></i> <span class="hidden-sm">Day View</span>
						</label>
						<label class="btn btn-default  {% if _user['settings']['home_list_section']=='calendar' %}active{% endif %}" title="Calendar">
							<input type="radio" name="view" id="view-calendar" value="calendar" autocomplete="off"  {% if _user['settings']['home_list_section']=="calendar" %}checked="checked"{% endif %}>
							<i class="fa fa-calendar"></i> <span class="hidden-sm">Calendar</span>
						</label>
						<label class="btn btn-default  {% if _user['settings']['home_list_section']=='timeslots' %}active{% endif %}" title="Reserved Timeslots">
							<input type="radio" name="view" id="view-timeslots" value="timeslots" autocomplete="off"  {% if _user['settings']['home_list_section']=="timeslots" %}checked="checked"{% endif %}>
							<i class="fa fa-clock-o"></i> <span class="hidden-sm">Timeslots</span>
						</label>
					</div>



				</div>

				<div class="col-sm-4">

					<table style="width:100%">
						<tr>
							{% if _user['staffID'] %}
							<td style="width: 50px;">
								<button type="button" class="btn"  autocomplete="off" id="filter-on-staff-member">
									<i class="fa fa-filter"></i>
								</button>
							</td>
							{% endif %}
							<td>
								<form id="search-form" role="search">
									<div class="input-group  " style="width:100%">
										<input type="text" class="form-control" placeholder="Search" name="search" id="search">
										<div class="input-group-btn">
											<button class="btn btn-default" type="reset"><i class="fa fa-close"></i></button>
											<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
										</div>
									</div>
								</form>
							</td>
						</tr>
					</table>







				</div>



			</div>
		</div>

	</div>


</div>
<div class="content animate-panel" id="content-area">
	<div style="height:700px;"></div>
</div>