<div class="normalheader transition animated fadeIn small-header ">
	<div class="panel">
		<div class="panel-body">
			
			<div class="pull-right " >
				<button class="btn btn-default open-side-bar visible-xs-inline" type="button" style="margin:-10px;"><i class="fa fa-list"></i></button>
			</div>
			<div class="pull-left">
				<h2 class="font-light">
					Settings - Notifications Templates
				</h2>

			</div>
		
		</div>
	</div>
</div>

<div class="animate-panel  " id="content-area">
	<div id="content-start"></div>
	
	<div class="section-row">
		<form id="form">
		<section class="col-sm-12" id="whole-area">
			
			
			
		</section>
		</form>
	</div>
</div>