#header-area .no-records {
  font-size: 30px;
  color: #ccc;
  opacity: 0.4;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  padding: 10px !important; }

#view-list-area .panel.past .panel-heading {
  color: #b4b4b4; }

#view-list-area .panel-body {
  padding-top: 0;
  padding-bottom: 0; }
  #view-list-area .panel-body .record-row {
    cursor: pointer;
    border-bottom: 1px dotted #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px; }
    #view-list-area .panel-body .record-row:last-child {
      border-bottom: none; }
    #view-list-area .panel-body .record-row:hover {
      background-color: #395168;
      color: #fff; }
    #view-list-area .panel-body .record-row.past {
      color: #b4b4b4; }
    #view-list-area .panel-body .record-row.active {
      font-weight: bold; }
    #view-list-area .panel-body .record-row ul {
      margin: 0;
      padding-left: 15px; }

#header-agenda-area {
  margin-top: -10px;
  background-color: #fff;
  z-index: auto;
  position: relative; }

#upcoming-appointments-area .row-active-app {
  padding: 0; }

#upcoming-appointments-area .row-next-app {
  padding: 0 0; }

@media (min-width: 768px) {
  #upcoming-appointments-area {
    margin-top: -15px;
    margin-bottom: -15px; }
    #upcoming-appointments-area .alert {
      border-top: none;
      border-bottom: none;
      border-right: none;
      margin-right: -25px; }
      #upcoming-appointments-area .alert .col-sm-7 {
        text-align: right; }
      #upcoming-appointments-area .alert .col-sm-5 {
        padding-top: 10px; }
    #upcoming-appointments-area h3 {
      text-align: right; }
      #upcoming-appointments-area h3 small {
        margin-right: 20px; } }

@media (max-width: 768px) {
  #upcoming-appointments-area .alert {
    margin-left: -20px;
    margin-right: -20px; } }

.services-popover {
  width: 300px;
  font-size: smaller; }
  .services-popover .badge {
    font-size: smaller; }
  .services-popover .popover-list {
    margin: 0; }

#search-form button[type='reset'] {
  display: none; }

#agenda-wrapper {
  position: relative; }
  #agenda-wrapper #agenda-view-area #agenda-view-table {
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 0; }
    #agenda-wrapper #agenda-view-area #agenda-view-table .tr {
      position: relative; }
      #agenda-wrapper #agenda-view-area #agenda-view-table .tr .th {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        text-align: center;
        font-weight: bold;
        padding: 0;
        width: 50px;
        border-right: 1px solid #ccc;
        vertical-align: middle; }
        #agenda-wrapper #agenda-view-area #agenda-view-table .tr .th .item-label-inner {
          position: relative;
          top: 50%;
          transform: translateY(-50%); }
      #agenda-wrapper #agenda-view-area #agenda-view-table .tr .td {
        padding: 0;
        margin: 0;
        height: 20px; }
        #agenda-wrapper #agenda-view-area #agenda-view-table .tr .td.hour-0 {
          border-top: 1px solid #ccc; }
        #agenda-wrapper #agenda-view-area #agenda-view-table .tr .td.hour-15 {
          border-top: 1px dotted rgba(221, 221, 221, 0.5); }
        #agenda-wrapper #agenda-view-area #agenda-view-table .tr .td.hour-30 {
          border-top: 1px dotted #cccccc; }
        #agenda-wrapper #agenda-view-area #agenda-view-table .tr .td.hour-45 {
          border-top: 1px dotted rgba(221, 221, 221, 0.5); }
  #agenda-wrapper #agenda-view-area .agenda-items .agenda-item {
    position: absolute;
    left: 50px;
    right: 0;
    vertical-align: middle;
    background-color: #c6d3df;
    background: linear-gradient(to left, #d3dde7, #b9c9d8); }
    #agenda-wrapper #agenda-view-area .agenda-items .agenda-item .item-label {
      border: 1px solid #ccc;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10; }
      #agenda-wrapper #agenda-view-area .agenda-items .agenda-item .item-label .item-label-inner {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
      #agenda-wrapper #agenda-view-area .agenda-items .agenda-item .item-label.appointment-row {
        cursor: pointer; }
        #agenda-wrapper #agenda-view-area .agenda-items .agenda-item .item-label.appointment-row:hover {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 30;
          border: 1px solid #34495e;
          background-color: #c6d3df;
          background: linear-gradient(to left, #d3dde7, #b9c9d8); }
    #agenda-wrapper #agenda-view-area .agenda-items .agenda-item.current {
      background-color: #3b536b;
      background: linear-gradient(to bottom, #587ca0, #3d566e); }
      #agenda-wrapper #agenda-view-area .agenda-items .agenda-item.current .item-label {
        color: #fff;
        z-index: 20; }
        #agenda-wrapper #agenda-view-area .agenda-items .agenda-item.current .item-label.appointment-row:hover {
          z-index: 30;
          border: 1px solid #34495e;
          background-color: #3b536b;
          background: linear-gradient(to bottom, #587ca0, #3d566e); }
  #agenda-wrapper #agenda-view-area .agenda-now {
    height: 5px;
    background-color: red;
    position: absolute;
    left: 40px;
    right: 0;
    z-index: 41;
    opacity: 0.3; }
  #agenda-wrapper #agenda-view-area .closed-items-lines .closed-item {
    height: 3px;
    background-color: #ababab;
    position: absolute;
    left: 45px;
    right: -3px;
    z-index: 40;
    opacity: 0.5;
    border-radius: 2px; }
  #agenda-wrapper #agenda-view-area .closed-items .closed-item {
    position: absolute;
    left: 51px;
    right: 0;
    vertical-align: middle;
    background: repeating-linear-gradient(45deg, transparent, transparent 5px, #f1f1f1 5px, #f1f1f1 10px), linear-gradient(to bottom, #e1e1e1, #e1e1e1); }
    #agenda-wrapper #agenda-view-area .closed-items .closed-item .item-label {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      font-size: 50px;
      text-shadow: 1px 1px 10px #ccc;
      color: #f1f1f1;
      font-weight: bold; }
