#header-area .no-records {
  font-size: 30px;
  color: #ccc;
  opacity: 0.4;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  padding: 10px !important; }

#view-list-area .panel.past .panel-heading {
  color: #b4b4b4; }

#view-list-area .panel-body {
  padding-top: 0;
  padding-bottom: 0; }
  #view-list-area .panel-body .record-row {
    cursor: pointer;
    border-bottom: 1px dotted #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px; }
    #view-list-area .panel-body .record-row:last-child {
      border-bottom: none; }
    #view-list-area .panel-body .record-row:hover {
      background-color: #395168;
      color: #fff; }
    #view-list-area .panel-body .record-row.past {
      color: #b4b4b4; }
    #view-list-area .panel-body .record-row.active {
      font-weight: bold; }
    #view-list-area .panel-body .record-row ul {
      margin: 0;
      padding-left: 15px; }

#header-agenda-area {
  margin-top: -10px;
  background-color: #fff;
  z-index: auto;
  position: relative; }

#upcoming-appointments-area .row-active-app {
  padding: 20px 0; }

#upcoming-appointments-area .row-next-app {
  padding: 20px 0; }

@media (min-width: 768px) {
  #upcoming-appointments-area {
    margin-top: -15px;
    margin-bottom: -15px; }
    #upcoming-appointments-area .alert {
      border-top: none;
      border-bottom: none;
      border-right: none;
      margin-right: -25px; }
    #upcoming-appointments-area h3 {
      text-align: right; }
      #upcoming-appointments-area h3 small {
        margin-right: 20px; } }

@media (max-width: 768px) {
  #upcoming-appointments-area .alert {
    margin-left: -20px;
    margin-right: -20px; } }

.services-popover {
  width: 300px;
  font-size: smaller; }
  .services-popover .badge {
    font-size: smaller; }
  .services-popover .popover-list {
    margin: 0; }
